version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
    day: saturday
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: jedi
    versions:
    - "> 0.17.2, < 1"
