alea-inference==0.3.2
appletree[cpu]==0.5.4
atomicwrites==1.4.1
axidence==0.3.2
black==25.1.0
blueice==1.2.1
codenamize==1.2.3                                  # for human-readable hashing
comm==0.2.2
corner==2.2.3
cython==3.0.11
emcee==3.1.6
flamedisx==2.1.0
future==1.0.0
GOFevaluation==0.1.5
h5py==3.12.1
iminuit==2.30.1
inference-interface==0.0.3
ipykernel==6.29.5                                  # for ipywidgets
ipympl==0.9.5                                      # for online monitoring
ipython==8.32.0
jedi==0.19.1
jupyter==1.1.1
jupyterlab==4.0.12                                 # <4.1.0 for compatibility with xeauth 0.2.3
jupyterlab-widgets==3.0.13
jupyter-resource-usage==1.1.0                      # memory viewer for notebooks
lightgbm==4.5.0
line-profiler==4.2.0
mergedeep==1.3.4
ml-dtypes==0.4.1
nbsphinx==0.9.5
notebook==7.0.8                                    # <7.1.0 for compatibility with jupyterlab 4.0.12
numpy==2.0.2
numpyro==0.16.1
pandoc==2.4
parso==0.8.4                                       # upgrading to 0.8.0 breaks autocomplete in ipython
periodictable==2.0.2
pika==1.3.2                                        # pegasus
prettytable==3.14.0
pre-commit==4.1.0
poetry==2.0.1
pydantic==1.10.14                                  # rframe needs pydantic<2.0.0
pytest-runner==6.0.1
reprox==0.2.2
requests==2.31.0                                   # rucio-clients 32.8.0 requires requests<=2.31.0
seaborn==0.13.2
simple-slurm==0.3.5
sharedarray==3.2.4
snakeviz==2.2.2
sphinx==7.3.7
statsmodels==0.14.4
strax==2.1.0
straxen==3.1.0
tables==3.10.2
tensorflow-probability==0.25.0
timeout_decorator==0.5.0                           # needed by fuse
uncertainties==3.2.2
xe-admix==1.0.15
xe-outsource==0.4.0
xgboost==2.1.3
