version: 2

update_configs:
  - package_manager: "python"
    directory: "/"
    update_schedule: "weekly"
    ignored_updates:
      - match:
          # ignore dask updates since it is not supported by python 3.6
          # https://github.com/XENONnT/base_environment/pull/574
          dependency_name: "dask"
    target-branch: "dependabot_merge"
