awkward==2.7.4
blosc==1.11.2                                      # strax dependency
bokeh==3.2.2                                       # panel 1.2.3 depends on bokeh<3.3.0 and >=3.1.1
boltons==24.1.0
commentjson==0.9.0                                 # straxen dependency
coverage==7.6.10                                    
coveralls==4.0.1
dask==2025.1.0
dask-jobqueue==0.8.5
datashader==0.17.0
deepdiff==8.1.1
dill==0.3.9                                        # strax dependency
docutils==0.18.1                                   # don't update, straxen dependency
flake8==7.1.1
fsspec==2025.2.0
GitPython==3.1.44                                  # pegasus dependency
graphviz==0.20.3
holoviews==1.18.3                                  # don't update, conflicts with xeauth 
hypothesis==6.131.1
immutabledict== 4.2.1
ipywidgets==8.1.5                                  # for online monitoring
jax==0.5.0
Jinja2==3.1.5
jupyter-client==8.6.3
keras==3.8.0
lz4==4.4.3                                         # strax dependency
m2r==0.2.1                                         # don't update, straxen dependency
matplotlib==3.9.4
memory-profiler==0.61.0
mistune==0.8.4                                     # nbconvert 6.5.4 requires mistune<2
mongomock==4.3.0
multihist==0.6.5
nbmake==1.5.5
npshmex==0.2.1                                     # strax dependency
numba==0.61.0                                      # strax dependency
numexpr==2.10.2
packaging==24.2
pandas==2.2.3
panel==1.2.3                                       # upgrading it causes conflict with xeauth
psutil==5.9.8                                      # upgrading it causes conflict with jupyter-resource-usage
pyarrow==19.0.0
pymongo==3.13.0                                    # don't upgrade it
pytest==8.3.4
pytest-cov==6.0.0
pytest-xdist==3.6.1
rframe==0.2.24
scikit-learn==1.6.1                                # don't update
scipy==1.15.1
tensorflow==2.18.0
tf-keras==2.18.0
typing-extensions==4.12.2                          # tensorflow and bokeh dependency
tqdm==4.67.1
uproot==5.5.1
utilix==0.11.0                                     # dependency for straxen, admix
xarray==2025.1.2
xedocs==0.2.37
zarr==2.18.4
zstandard==0.23.0                                  # strax dependency
zstd==1.5.6.2                                      # strax dependency
