name: Quick requirements test

# Trigger this code when a new release is published
on:
  workflow_dispatch:
  release:
    types: [ created ]
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  update:
    name: "py${{ matrix.python-version }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: False
      matrix:
        python-version: [3.9]
    if: ${{ github.triggering_actor != 'dependabot[bot]' }}
    steps:
      # Setup and installation
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v4.6.1
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'
      - name: Install requirements
        env:
          SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL: true
        run:
          pip install --no-cache-dir -r requirements.txt
      - name: goodbye
        run: echo "tests done, bye bye"
