name: 'Test packages'
permissions: read-all
on:
  workflow_dispatch:
  release:
    types: [ created ]
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  test_ax:
    name: "${{ matrix.package }}"
    strategy:
      fail-fast: False
      matrix:
        package: [ 'strax', 'straxen', 'cutax', 'appletree', 'alea-inference' ]
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'XENONnT' && github.triggering_actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: create key & get proxy
        if: matrix.package == 'cutax'
        run: |
          mkdir ~/.ssh
          cat > ~/.ssh/id_rsa << EOF
          ${{ secrets.PRIVATE_KEY }}
          EOF
          chmod 400 ~/.ssh/id_rsa
          cat > ~/.ssh/known_hosts << EOF
          ${{ secrets.HOST_KEY }}
          EOF
          sleep $[ ( $RANDOM % 100 )  + 1 ]s
          scp ${{ secrets.PROXY_LOCATION }} ./user_cert
          echo $PWD
          ls -l $PWD/user_cert
      - name: Write utilix config
        run: |
          bash .github/scripts/create-utilix-config.sh
        env:
          RUNDB_API_URL: ${{ secrets.RUNDB_API_URL }}
          RUNDB_API_USER: ${{ secrets.RUNDB_API_USER }}
          RUNDB_API_PASSWORD: ${{ secrets.RUNDB_API_PASSWORD }}
          PYMONGO_URL: ${{ secrets.PYMONGO_URL }}
          PYMONGO_USER: ${{ secrets.PYMONGO_USER }}
          PYMONGO_PASSWORD: ${{ secrets.PYMONGO_PASSWORD }}
          PYMONGO_DATABASE: ${{ secrets.PYMONGO_DATABASE }}
          XE1T_URL: ${{ secrets.XE1T_URL }}
          XE1T_USER: ${{ secrets.XE1T_USER }}
          XE1T_PASSWORD: ${{ secrets.XE1T_PASSWORD }}
          XE1T_DATABASE: ${{ secrets.XE1T_DATABASE }}
      - name: checkout cutax
        if: github.repository_owner == 'XENONnT'
        uses: actions/checkout@v4
        with:
          repository: XENONnT/cutax
          ssh-key: ${{ secrets.CUTAX_DEPLOY_KEY }}
          path: cutax
          ref: master
          fetch-depth: 0
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: 4.2
      - uses: cvmfs-contrib/github-action-cvmfs@v3
      - name: Over install
        run: |
          source /cvmfs/xenon.opensciencegrid.org/releases/nT/development/setup.sh
          python -c "print('hello XENON!')"
          pip install --no-cache-dir -r extra_requirements/requirements-tests.txt -r requirements.txt --user
      - name: Test
        env:
          X509_USER_PROXY: /home/runner/work/base_environment/base_environment/user_cert
          # Could not get rucio tests to work :( Please see https://github.com/XENONnT/base_environment/pull/1109
          DISABLE_RUCIO_TEST: 1
        run: |
          unset ALLOW_MC_TEST
          source /cvmfs/xenon.opensciencegrid.org/releases/nT/development/setup.sh
          straxen-print_versions strax straxen cutax appletree alea-inference npshmex numba numpy nton admix
          bash .github/scripts/do_tests.sh ${{matrix.package}}
