name: 'Test packages'
on:
  workflow_dispatch:
  release:
    types: [ created ]
  pull_request:
  push:
    branches:
      - master
      - stable

jobs:
  test_ax:
    name: "${{ matrix.package }}"
    strategy:
      fail-fast: False
      matrix:
        package: [ 'strax', 'straxen', 'wfsim', 'pema', 'cutax' ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: create key & get proxy
        if: (github.repository_owner == 'XENONnT') && ((matrix.package == 'straxen') || (matrix.package == 'cutax'))
        run: |
          mkdir ~/.ssh
          cat > ~/.ssh/id_rsa << EOF
          ${{ secrets.PRIVATE_KEY }}
          EOF
          chmod 400 ~/.ssh/id_rsa
          cat > ~/.ssh/known_hosts << EOF
          ${{ secrets.HOST_KEY }}
          EOF
          sleep $[ ( $RANDOM % 100 )  + 1 ]s
          scp ${{ secrets.PROXY_LOCATION }} ./
          ls -l $PWD/user_cert
      - name: Write utilix config
        run: |
          bash .github/scripts/create-utilix-config.sh
          cp ~/.xenon_config ./
        env:
          RUNDB_API_URL: ${{ secrets.RUNDB_API_URL }}
          RUNDB_API_USER: ${{ secrets.RUNDB_API_USER }}
          RUNDB_API_PASSWORD: ${{ secrets.RUNDB_API_PASSWORD }}
          PYMONGO_URL: ${{ secrets.PYMONGO_URL }}
          PYMONGO_USER: ${{ secrets.PYMONGO_USER }}
          PYMONGO_PASSWORD: ${{ secrets.PYMONGO_PASSWORD }}
          PYMONGO_DATABASE: ${{ secrets.PYMONGO_DATABASE }}
          XE1T_URL: ${{ secrets.XE1T_URL }}
          XE1T_USER: ${{ secrets.XE1T_USER }}
          XE1T_PASSWORD: ${{ secrets.XE1T_PASSWORD }}
          XE1T_DATABASE: ${{ secrets.XE1T_DATABASE }}
      - name: checkout cutax
        uses: actions/checkout@v3
        with:
          repository: XENONnT/cutax
          ssh-key: ${{ secrets.CUTAX_DEPLOY_KEY }}
          path: cutax
          fetch-depth: 0
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-version: 4.2
      - uses: cvmfs-contrib/github-action-cvmfs@v3
      - name: Over install
        run: |
          source /cvmfs/xenon.opensciencegrid.org/releases/nT/development/setup.sh
          python -c "print('hello XENON!')"
          pip install -r requirements.txt --user
      - name: Test
        run: |
          source /cvmfs/xenon.opensciencegrid.org/releases/nT/development/setup.sh
          straxen-print_versions
          bash .github/scripts/do_tests.sh ${{matrix.package}}
